table {
    width: 100%;
}
.container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.menu {
    border: 3px solid #ececec;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.main-menu-title h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: none;
    color: #242424;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
}